.event-item {
  width: 316px;
  height: 67px;
  background-color: #F3F6F7;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.event-item .event-name {
  font-weight: bold;
}

.event-item .event-details {
  text-align: right;
}
