// Import page-specific CSS files here.
@import "home";
@import "share";
@import "dashboard";
@import "groups";
@import "new_event";
@import "new_groups";

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
font-size: 42px;
color: $orange;
 }

 h6 {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 0 12px;
 }
}
