.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.photo-grid img {
  width: auto;
  max-width: 100px;
  height:  auto 100px;
  border-radius: 10px;
  object-fit: contain;

}

.photo-item {
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #1E90FF;
  border-radius: 10px;
  position: relative;
}
