.gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.gallery-photos {
  h2 {
    text-align: center;
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.photo-grid img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  object-fit: cover;
}
