  <div class="bottom-navbar">
    <a href="#" class="nav-icon">
      <i class="fa-solid fa-calendar-days"></i>
    </a>
    <a href="#" class="nav-icon">
     <i class="fa-solid fa-people-group"></i>
    </a>
    <a href="#" class="nav-icon">
    <%= image_tag "logonav.png", class: "logonav" %>
      </div>
    </a>
  </div>
