 <div class="container">
  <div class="row justify-content-center">
      <div class="text-center mb-4 mt-4">
        <h3>MES ÉVÉNEMENTS</h3>
       </div>

    <% @events.each do |event| %>
  <section class="mini-card mb-3 align-items-center">
        <div class="cards-info form-group mb-6 ">
          <h5><%= event.name %></h5>
          <% date = event.date %>
          <% lieu = event.address %>
          <p><%= lieu %> - <%= date %></p>
        </div>
  </section>
    <% end %>
          <button class="right-circle-btn mt-4">+</button>
 </div>

</div>
