 <div class="container">
  <div class="row justify-content-center">
      <div class="text-center mb-4 mt-4">
        <h3>MES ÉVÉNEMENTS</h3>
       </div>

    <% @events.each do |event| %>
        <div class="cards-info form-group mb-6">
          <h3><%= event.name %></h3>
          <%= event.date %>
          <%= event.address %>
        </div>
  </section>
    <% end %>
          <button class="right-circle-btn mt-4">+</button>
 </div>
</div>
