
  <div class="gallery">
      <div class="gallery-photos">
          <h2>GALERIE PHOTO</h2>
        <div class= "mt-4 photo-grid">
          <% @photos.each do |photo| %>
            <div class="photo-item">
              <%= cl_image_tag photo.photo.key, alt: "Photo of #{@event.name}" %>
            </div>
          <% end %>
        </div>
      </div>

    <div class= "down-btn pt-9">
      <%= form_with(url: event_photos_path, method: :post, html: { multipart: true, 'data-controller': 'load-photo', 'data-action': 'change->load-photo#submit' }) do |form| %>
        <%= form.file_field :image, direct_upload: true, style: "display: none;", id: "image_upload", 'data-load-photo-target': 'fileInput' %>
        <label for="image_upload" class="right-circle-btn mt-4 d-flex" style="cursor: pointer;">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </label>
      <% end %>
    </div>

</div>
