 <div class="container">
  <div class="row justify-content-center">
      <div class="text-center mb-4 mt-4">
        <h2>GALERIE PHOTO </h2>
      </div>
          <% @photos.each do |photo| %>
            <div class="photo-item">
              <%= image_tag photo.image, alt: "Photo of #{@event.name}" %>
            </div>
          <% end %>
        <button class="right-circle-btn mt-4">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </button>
  </div>
</div>
