
.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.back-button {
  color: #3468C0;
  text-decoration: none;
  font-size: 24px;
}
