.custom-checkbox {
  /* Pour cacher la checkbox par défaut */
  /* Dimensions de la nouvelle checkbox personnalisée */
  width: 20px; /* Largeur */
  height: 20px; /* Hauteur */
  /* Style de fond pour la checkbox (orange dans ce cas) */
  /* Bordures arrondies */
  border-radius: 4px;
  border: solid 1px $orange;
  /* Style de curseur au survol */
  cursor: pointer;
  
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 0.1rem;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(7% 34%, 7% 25%, 15% 27%, 33% 57%, 56% 21%, 65% 10%, 71% 1%, 79% 6%, 72% 17%, 56% 40%, 31% 75%, 13% 41%);
  transform: scale(0);
  background-color: $orange;
}

input[type="checkbox"]:checked::before {
  transform: scale(1.2);

}


/* Style du point coché (une fois sélectionné) */
// .custom-checkbox:checked {
//   background-color: orange;
// }

/* Style du point coché (le point) */
.custom-checkbox::before {
  display: block;
  width: 20px;
  height: 20px;
  margin: px;
  background: white;
  border-radius: 2px;
  /* Lorsque la case est cochée, affichez le point */
}

// .custom-checkbox:checked {
//   background: $orange !important;
// }
