.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-nav .dropdown-menu-left {
  position: absolute;
  margin-right: 42px;
}

.dropdown-menu-end {
  position: absolute;
}

.dropdown {
  position: absolute;
}


.navbar-nav .dropdown-menu {
  background-color: #ff000000;
  position: absolute;
  border: none;
  top: -42px;
  right: 42px;
}
